body {
    background-color: rgb(243, 243, 243);
}

input.project-input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px gray;
    outline-style: none;
}

.project-list {
    position: absolute;
    top: 80px;
    left: 100px;
}
.project-list button {
    display: flex;
    margin-bottom: 10px;
    padding: 60px 80px;
    color: black;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    border: 5px solid white;
    opacity: 93%;
}

.create-project {
    padding: 25px 0px;
    /* position: absolute; */
    top: 40px;
    left: 680px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    border: 5px solid white;
    opacity: 93%;
}

.create-project h1 {
    position: relative;
    right: 70px;
    color: black;
}

.create-project p {
    position: relative;
    right: 200px;
    color: black;
}

.create-button {
    position: relative;
    padding: 10px 200px;
    top: 80px;
    right: 5px;
    color: white;
    background-color: darkblue;
}

.calendar {
    position: relative;
    padding: 100px 100px;
    top: -450px;
    left: 600px;
    color: yellow;
    background-color: white;
}