
.projectview_page{
    background-color: rgb(243, 243, 243);
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.projectview_page h1 {
    font-size: 2.2rem;
    color: black;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.projectview_page h2 {
    font-size: 1.3rem;
    color: black;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.projectview_page p {
    color: rgb(109, 109, 109);
    /* font-family: Arial, Helvetica, sans-serif; */
}

.close_project_button {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 12px;
    background-color: #4F46E5;
    color: white;
}

.projectview-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 175px); 
    margin-left: auto;
    margin-right: auto;
}

.whiteboard-container {
    margin: 50px 10px 10px 20px;
    text-align: center;
    grid-area: 1 / 1 / 7 / 2;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.whiteboard {
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
}

.projectinfo {
    display: flex;
    grid-area: 1 / 2 / 2 / 4;
    margin: 50px 20px 0px 10px;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.info {
    width: 70%;
    text-align: left;
    margin-right: 10px;
}

.members {
    width: 30%;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.members button {
    display: flex;
    height: 40px;
    width: 40px;
    margin-top: 15px;
    padding: 0;
    color: black;
    background-color: transparent;
    font-size: 30px;
    justify-content: center;
    align-content: center;
}

.members  button:hover {
    border: transparent;
}

.projectcontent {
    display: flex;
    grid-area: 2 / 2 / 6 / 4;
    margin: 20px 20px 15px 10px;
    width: 100%;
    height: 100%;
}

.files {
    width: 40%;
    height: 100%;
    margin-right: 10px;
    padding: 0px 20px;
    background-color: white;
    border-radius: 20px;
}

.chat {
    flex-grow: 0;
    width: 50%;
    height: 96.5%;
    margin-left: 10px;
    padding: 2% 2% 0 1%;
    background-color: white;
    border-radius: 20px;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.text-container{
    display: flex;
    width: 90%;
    height: 7%;
    background-color: #e9e9e9;
    position: absolute;
    bottom: 2%;
    padding: 0 2% 0 4%;
    flex: 1;
    border-radius: 15px;
}

.projectview_page input {
    box-shadow: none;
}

.text{
    background-color: #e9e9e9;
    outline: none;
    border: none;
    flex: 1;
}

.send-text{
    background-image: url('./image.png');
    background-position: center;
    background-color: #e9e9e9;
    background-repeat: no-repeat;
}

.msg-container{
    display: flex;
    height: 7%;
    margin: 0 0 4% 0;
    min-height: 8%;
}

.profile-icon{
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2%;
}

.msg{
    background-color: #e9e9e9;
    display: flex;
    width: 80%;
    padding: 3%;
    align-items: center;
    /* justify-content: flex-start; */
    border-radius: 15px;
    white-space: initial;
    overflow-wrap: break-word;
    text-align: left;
}

